.footer {
  background-color: #333;
  color: #fff;
  padding: 0 0 12px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  padding: 6px;
}

.footer-content ul {
  list-style: none;
  padding: 6px;
  margin: 0;
}

.footer-content li {
  display: inline-block;
  margin: 0 10px;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
