.explorer-container {
  width: 100vw;
  height: calc(100vh - 76px);
  background: #050505;
  font-family: sans-serif;
  overflow: hidden;
}

.info-panel {
  position: absolute;
  top: 76px;
  left: 38px;
  z-index: 10;
  color: white;
  max-width: 300px;
}

.search-container {
  position: relative;
  width: 100%;
}

.chatgpt-input-wrapper {
  display: flex;
}

.clear-search {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  margin-right: 5px;
}

.legend {
  padding: 6px;
  margin-top: 6px;
}