@keyframes slow-pan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button {
  background-color: var(--secondary-color);
  color: white;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--accent-color);
}

.text-container {
  max-width: 800px;
  padding: 2rem;
  border-radius: var(--mantine-radius-md);
}

.text-container-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.0);
}
