:root {
  --background-color: #242424;
  --heading-color: #F5F5F5;
  --text-color: #d7d7d7;
  --primary-color: #0A2342;
  --secondary-color: #0B8A8A;
  --accent-color: #A947A1;

  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}
